.container {
    border: 1px solid rgb(0, 17, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

.moves {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 50%;
    border: 1px solid red;
    gap: 10px;
}

.pierre {
    width: 70px;
    height: 70px;
}

.feuille {
    width: 62px;
    height: 62px;
}

.ciseaux {
    width: 58px;
    height: 58px;
}


.currentPlay {
    height: 100px;
    width: 50%;
    border: 1px solid green;
}

.results {
    height: 100px;
    width: 50%;
    border: 1px solid purple;
}